
.container-label {
  margin-bottom: 30px;
  margin-top: 100px;
  font-size: 20px;
}

.container-btn {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h1 {
  font-weight: 900;
  text-align: center;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.container-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .container-grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }
  
  .checkbox-align{
      text-align: left;
  }
  .form-error{
    color: red;
    font-size:medium;
  }

  body{
    background-color: azure;
  }
   